@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.artist-detail-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr .25fr;
  margin: 50px auto;
  width: 75%;
  background-color: lightgray;
  border: 5px solid slategray;
  border-radius: 50px;
  box-shadow: 1px 1px 35px 1px black;
}

.artist-detail-image {
  margin: 50px 0 0 50px;
  height: 400px;
  width: 400px;
  overflow: hidden;
  border: 5px solid slategray;
  border-radius: 50px;
}

.artist-detail-image img{
  width: 100%;
}

.artist-detail-text {
  grid-column: 2;
  grid-row: 1;
  flex-direction: column;
  text-align: left;
  margin-left: 25px;
  padding: 40px;
}

.artist-detail-text .name {
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
}

.artist-detail-text .full-name {
  font: 25px;
}

.artist-show-songs {
  grid-column: 1;
  grid-row: 2;
  place-self: center;
}

.artist-delete {
  grid-column: 2;
  grid-row: 2;
  place-self: center;
}

.artist-show-songs button,
.artist-delete button{
  background-color: white;
  color: black;
  font-size: 20px;
  width: 300px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 50px;
  margin-top: 15px;
  padding: 10px;
}

.artist-show-songs button:hover {
  background-color: limegreen;
  cursor: pointer;
  box-shadow: 1px 1px 15px 1px black;
}

.artist-delete button:hover {
  background-color: orangered;
  cursor: pointer;
  box-shadow: 1px 1px 15px 1px black;
}