@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.artist-body .title{
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  letter-spacing: 7px;
  margin: 30px 0;
  -webkit-text-stroke: 1.5px lightgray;
}

.artist-container{
  height: 200px;
  width: 50%;
  border: 5px solid slategray;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 200px 20px auto 40px 100px;
  grid-template-rows: 200px;
  margin: 50px auto;
  color: black;
  background-color: lightgray;
  border-radius: 20px;
  cursor: pointer;
}

.artist-image-container{
  grid-column: 1;
  height: 200px;
  width: 200px;
  border-radius: 15px;
  overflow: hidden;
  margin-right: 50px;
}

.artist-image-container img{
  width: 100%;
}

.artist-text-contianer{
  align-self: start;
  text-align: left;
  flex-direction: column;
  margin-right: 25px;
}

a:link{
  text-decoration: none;
}

.add-button {
  background-color: white;
  color: black;
  font-size: 20px;
  display: block;
  width: 50%;
  transform: translate(50%);
  text-align: center;
  border: 1px solid gray;
  border-radius: 50px;
  margin-top: 15px;
  padding: 10px;
}

.add-button:hover {
  background-color: limegreen;
  cursor: pointer;
  box-shadow: 1px 1px 15px 1px black;
}

.artist-container:hover {
  box-shadow: 1px 1px 35px 1px black;
  transform: scale(1.025);
}

.ud-buttons {
  grid-column: 5;
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 50px;
  margin-top: 20px;
}

.ud-buttons img{
  width: 100%;
  padding: 15px;
}

.ud-buttons img:hover{
  transform: scale(1.2);
}

.ud-buttons button{
  background: none;
  border: none;
}

.ud-buttons button:hover{
  cursor: pointer;
}

@media only screen and (max-width: 770px) {
  .artist-body .title{
    font-size: 40px;
  }
  .artist-container {
    height: 150px;
    width: 55%;
    margin: 30px auto;
    grid-template-columns: 150px 20px auto 20px 50px;
  }
  .artist-image-container {
    height: 150px;
    width: 150px;
    border-radius: 15px;
    overflow: hidden;
    margin-right: 20px;
  }
  .artist-text-contianer h2{
    font-size: 22px;
  }
  .artist-text-contianer p{
    font-size: 13px;
  }
  .ud-buttons {
    grid-column: 5;
    display: flex;
    flex-direction: column;
    height: 20px;
    width: 20px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .artist-body .title{
    font-size: 24px;
  }
  .artist-container {
    height: 75px;
    width: 70%;
    margin: 20px auto;
    grid-template-columns: 75px 10px auto 5px 40px;
  }
  .artist-image-container {
    height: 75px;
    width: 75px;
    border-radius: 15px;
    overflow: hidden;
    margin-right: 20px;
  }
  .artist-text-contianer h2{
    font-size: 13px;
  }
  .artist-text-contianer p{
    font-size: 9px;
  }
  .ud-buttons {
    grid-column: 5;
    display: flex;
    flex-direction: column;
    height: 20px;
    width: 20px;
    margin-top: 10px;
    margin-right: 30px;
  }
  .add-button {
    font-size: 15px;
    width: 50%;
    transform: translate(50%);
    text-align: center;
    border: 1px solid gray;
    border-radius: 50px;
    margin-top: 15px;
    padding: 10px;
  }
}