.home-text {
  background-color: lightgray;
  padding: 10px;
  margin: auto;
  width: 70%;
  border: 5px solid slategray;
  border-radius: 50px;
  font-size: 35px;
  font-weight: 900;
  box-shadow: 1px 1px 30px 1px black;
}

.home-buttons {
  background-color: lightgray;
  padding: 10px;
  margin: auto;
  width: 70%;
  border: 5px solid slategray;
  border-radius: 50px;
  box-shadow: 1px 1px 30px 1px black;
}

.home-buttons button{
  width: 50%;
  margin: auto;
  background-color: white;
}