@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.title-container{
  display: flex;
  flex-direction: row;
  background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  justify-content: center;
  box-shadow: 1px 1px 30px 1px black;
}

.title_div {
  font-family: 'Permanent Marker', cursive;
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  padding: 0;
}

.title_div p{
  margin: 0;
  color: black;
  letter-spacing: 7px;
  -webkit-text-stroke: 1.5px white;
}

.title_div .title {
  font-size: 80px;
}

.title_div .subtitle {
  font-size: 40px;
}

.title_name {
  text-decoration: none;
}

.login-buttons {
  padding-top: 35px;
  padding-left: 350px;
}

.login-buttons button{
  width: 150px;
  border-radius: 20px;
  padding: 15px;
  background-color: lightgray;
}

.login-buttons button:hover{
  background-color: lightskyblue;
  cursor: pointer;
  box-shadow: 1px 1px 15px 1px black;
}